# Gradle
.gradle/
build/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
*.iws

# Compiled Java
*.class

# Config
app.properties

# Logs and temp files
*.log
*.tmp